{% extends 'apiapp/base.html' %}
{% block content %}
   <h1>Game Activities Home</h1>
    {% for game in games %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ game.name }}</a>
              <small class="text-muted">{{ game.playtime_forever }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ game.appid }}</a></h2>
          </div>
        </article>
    {% endfor %}


{% endblock content %}